.admin{
    /* align-items: center; */
    /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25); */
    position: relative;
    font-size: large;
    font-stretch: ultra-expanded;
    padding: 5rem;
    margin: 2rem 20rem;
    border-radius: 3px;
    background-color:rgba(0, 0, 0, 0.25);
    font-family: Lato,sans-serif;
    font-weight: 700;
     width: 15.7% !important;
     font-size: .9em;
     left: 8%;

}